[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
flask = "*"
google_auth_oauthlib = "*"
gtm_manager = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
